@(title: String)

@import helper._

@main(title) {
	<h1>@title</h1>
	<ul>
	<li>@form(action = routes.Application.createNewGame, args = 'id -> "createNewGameForm") {
		<p class="buttons">
		    <input type="submit" id="submit" value="村の作成">
		</p>
		}
	</li>
	<li>@form(action = routes.Application.register, args = 'id -> "registerForm") {
		<p class="buttons">
		    <input type="submit" id="submit" value="村民登録">
		</p>
		}
	</li>
	<li>@form(action = routes.Application.login, args = 'id -> "loginForm") {
		<p class="buttons">
		    <input type="submit" id="submit" value="再入村">
		</p>
		}
	</li>
	</ul>
}